POSTGRES_USER=postgres
POSTGRES_PASSWORD=password
POSTGRES_HOST=postgres
JWT_ACCESS_SECRET=access_secret
JWT_REFRESH_SECRET=refresh_secret
BCRYPT_SALTORROUNDS=10

# set to true, if you want to see prisma SQL querries
DEBUG=false

# This was inserted by `prisma init`:
# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL="postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${POSTGRES_HOST}:5432/myDb"

# Gitlab CI/CD variables
ORGANIZATION=gitlab-login
PATH_TO_PROJECT=orchestartor-backend
ORCHESTRATOR_URL=http://172.17.0.1:8000
